<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>weg</string>
				<string>WEG</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>weg</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>@PROJECTNAMEASIDENTIFIER@</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>@PROJECTNAMEASIDENTIFIER@.icns</string>
	<key>CFBundleIdentifier</key>
	<string>@PROJECTNAMEASIDENTIFIER@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>@PROJECTNAMEASIDENTIFIER@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/@PROJECTNAMEASIDENTIFIER@.jar:@CLASSPATH@</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>@PROJECTMAINCLASS@</string>
                <key>SplashFile</key>
                <string>$JAVAROOT/splash.png</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.macos.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.apple.menu.about.name</key>
			<string>@PROJECTNAMEASIDENTIFIER@</string>
			<key>com.apple.mrj.application.growbox.intrudes</key>
			<string>false</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xms50m -Xint</string>
	</dict>
</dict>
</plist>
