body {
  	color: #666666;
	font-family: Times New Roman, Times, serif;
	font-size: 12px;
}
h1 {
  	background-position: left center;
  	//background-image: url(images/WheelEncoderGenerator.ico);
  	font-size: 25px;
  	font-family: Arial, Helvetica, sans-serif;
  	color: #336666;
	margin: 0;
  	padding-top: 10px;
  	//padding-left: 60px;
  	background-repeat: no-repeat;
  	padding-bottom: 10px;
}
h2 {
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 18px;
	margin: 0 0 10px 0;
  	color: #336666;
}
h3 {
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	color: #666666;
}
ul {
  	list-style-type: none;
}
li {
  	padding: 0 0 10px;
}
p {
	margin: 0 0 10px 0;
}
a {
	//text-decoration: none;
	font-weight: bold;
	color: #336666;
}
a:hover {
	color: #663333;
}
.summary {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}
.seealso h2 {
	font-size: 12px;
}
.seealso li {
	padding: 0;
	margin: 0;
}
.menu a {
  	font-weight: bold;
  	color: #336666;
  	font-family: Arial, Helvetica, sans-serif;
  	background: url(images/emblem-symbolic-link.png) no-repeat right center;
  	padding-right: 22px;
	border-bottom: none;
}
.featured {
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
	background: #eeeeee;
}
.featured ul {
	margin-left: 5px;
}
.featured h2 {
	margin: 5px 5px 0 0;
}
